body{
  margin: 0px;
}
h1{
  text-align: center;
  padding: 10px;
  margin-bottom: 40px;
  font-family: Comic Sans MS;
  font-weight: bold;
}

.card{
  margin-left: 20px;
  margin-right: 20px;
}

p{
  text-align: center;
  font-weight: bold;
}

.row{
  margin-right: 0px;
}